@import "nts/public/css/fonts/fontawesome/font-awesome.min.css";
@import "nts/public/css/octicons/octicons.css";
@import "nts/public/css/fonts/inter/inter.scss";
@import "~frappe-charts/dist/frappe-charts.min";
@import "~plyr/dist/plyr";
@import "./desk/index";

@import "nts/public/js/lib/leaflet/leaflet.css";
@import "nts/public/js/lib/leaflet_easy_button/easy-button.css";
@import "nts/public/js/lib/leaflet_control_locate/L.Control.Locate.css";
@import "nts/public/js/lib/leaflet_draw/leaflet.draw.css";
@import "nts/public/node_modules/highlight.js/styles/tomorrow.css";
